.add-post {
  display: flex;
  justify-content: space-around;
  height: 100%;

  .add-post__form {
    width: 100%;

    .group {
      position: relative;
      margin-bottom: 45px;
      width: 100%;
    }
    .form {
      max-width: 900px;
    }
  }
}
