@import '../../../vars.scss';

.group {
  position: relative;
  margin-bottom: 45px;
  width: 30%;
}

textarea {
  border: 0;
  border-bottom: 2px solid $main-brown;
  background-color: #fafbfb;
  outline: none;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  resize: none;

  &:focus {
    border-bottom: 2px solid #26a69a;
    & + label {
      color: #26a69a;
      font-size: 0.8rem;
      top: -30px;
      pointer-events: none;
    }
  }
}

label {
  top: 0;
  left: 0;
  right: 0;
  color: $main-brown;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 1rem;
  cursor: text;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
}

textarea,
label {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
}
